.alert {
	position: fixed;
	top: -100%;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	padding: 10px 50px;
	animation: slideInTop 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 12px;
	margin-top: 15px;
	z-index: 100;
}

.messageList {
	list-style: none;
	text-align: center;
}

.close {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	cursor: pointer;
}

.success {
	color: darkgreen;
	background-color: rgb(159, 224, 159);
}

.error {
	color: red;
	background-color: rgb(229, 189, 189);
	transition: all 1s;
}

@keyframes slideInTop {
	0% {
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes slideOutTop {
	0% {
		top: -0;
		opacity: 1;
	}
	100% {
		top: -100%;
		opacity: 0;
	}
}

@media (min-width: 425px) {
	.alert {
		width: 60%;
	}
}

@media (min-width: 768px) {
	.alert {
		width: 50%;
	}
}

@media (min-width: 1024px) {
	.alert {
		width: 40%;
	}
}